{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    <title>{% block titulo %}Home{% endblock %}</title>
</head>

<body>
    {% include "base/header.html" %}
  {% block contenido %}  
  <div class="row grey darken-4">
    <div class="container">
      <section class="col m12 s12">
        
        <div class="row">
          <div class="col s12 m12 l4">
            <div class="card">
              <div class="card-image">
                <img src="{% static 'img/index/python_banner.png'%}">
                <span class="card-title black-text">Python</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m12 l4">
            <div class="card">
              <div class="card-image">
                <img src="{% static 'img/index/blog_banner.png'%}">
                <span class="card-title">Blog</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m12 l4">
            <div class="card">
              <div class="card-image">
                <img src="{% static 'img/index/software_banner.png'%}">
                <span class="card-title">Software</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
        </div>
        
      </section>
    </div>
  </div>
  {% endblock %}
  {% include 'base/footer.html'%}
            

    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>