{% load static %}
<header>
  <nav class="nav-wrapper blue darken-1">
    <div class="container">
      <a class='brand-logo' href="{% url 'home' %}">Yuyitos</a>
      <a href="#" data-target="menu-td" class='sidenav-trigger'>
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
        <li><a href="#">{{ user.username }}</a></li>
        <li><a class='red darken-4' href="{% url 'logout' %}">logout</a></li>
        {% else %}
        <li><a class="blue darken-3" href="{% url 'login' %}">Ingresar</a></li>
        {% endif %}
      </ul> 
    </div>
  </nav>
  <ul class="sidenav grey darken-4" id="menu-td">
        <li><a class="white-text" href="#"><i class="material-icons white-text">home</i> Inicio</a></li>
        <li><a class="white-text" href="#"><i class="material-icons white-text">label_outline</i> Enlace 2</a></li>
        <li><a class="white-text" href="#"><i class="material-icons white-text">label_outline</i> Enlace 3</a></li>
        <li><a class="white-text" href="#"><i class="material-icons white-text">label_outline</i> Enlace 4</a></li>
  </ul>
      <div class="parallax-container">
        <div class="parallax"><img src="{% static 'img/Index/parallax.jpg' %}"></div>
      </div>
</header>