{% extends 'base/base.html' %}

{% block titulo %} Reiniciar Contraseña - MoshiMoshi {% endblock titulo %}

{% block contenido %}

<div class="container contenido">
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <img width="100%" src="/media/Login/reset-password.png" alt="">
        </div>
        <div class="col-lg-5 col-md-12 align-self-center">
            {% if validlink %}
                <p>Por favor ingresa y confirma tu nueva contraseña.</p>
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">Nueva Contraseña:</label></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirmar contraseña:</label></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Change my password" /></td>
                        </tr>
                    </table>
                </form>
            {% else %}
                <h1>Reinicio de contraseña ha fallado</h1>
                <p>El enlace de reinicio de contraseña es invalido, posiblemente porque ya ha sido usado, Porfavor solicite un nuevo reinicio de contraseña.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock contenido %}